html {
  font-size: 18pt;
  line-height: 1.618em;
  font-family: Utopia, Cambria, 'Hoefler Text', 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
}
@media screen and (max-width: 58em) {
  html { line-height: 1.5em; }
}
html,
body {
  margin: 0;
  padding: 0 0 3em;
}

.wrap {
  display: flex;
  justify-content: center;
  margin: 0 0 0 5%;
}

.doc {
  max-width: 36em;
}

.toc ul ul ul {
  display: none;
}

.headerlink {
  color: #7ac;
  padding: 0 0.5em;
  opacity: 0;
  transition: opacity 0.5s;
}
h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
  opacity: 1;
  transition: opacity 0.1s;
}
h1 {
  font-size: 2.4em;
  line-height: 1.2em;
  font-weight: normal;
}
.section1 {
  margin-top: 2.5em;
  padding-top: 8em;
  border-top: 1px solid #aaa;
}
header h1 {
  padding-top: 3em;
}
header h2 {
  margin-bottom: 4em;
}
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;
  line-height: 1.2em;
}
h4,
.section4 ol,
figcaption,
.tools,
.control {
  font-family: 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans', 'Bitstream Vera Sans', 'Trebuchet MS', Verdana, 'Verdana Ref', sans-serif;
}

section > p {
  margin: 0;
  text-indent: 2em;
  text-align: justify;
}
section > p > img {
  margin: 2em 0 2em -2em;
}
img {
  width: 100%;
}

ul {
  padding-left: 3em;  /* 2em * 1.5 */
}
ol {
  padding-left: 3em;
}
ol ol {
  list-style-type: lower-roman;
  padding-left: 1em;
}
.section4 ol {
  padding-left: 3.375em;  /* 18pt / 16pt * 2em * 1.5 */
  font-size: 16pt;
  line-height: 1.4em;
}
.section4 ol ol {
  padding-left: 1.125em;  /* 18pt / 16pt * 1em */
}

blockquote {
  font-size: 16pt;
  margin-left: 4.5em;  /* 18pt / 16pt * 2em * 2 */
  margin-right: 4.5em;
  line-height: 1.4em
}
@media screen and (max-width: 58em) {
  blockquote { line-height: 1.333em; }
}

figure {
  margin: 2em 0;
}
figure > img {
  display: block;
  margin: 0 auto;
}
figcaption {
  font-size: 14pt;
  line-height: 1.2em;
}

a {
  color: #133952;
}

abbr {
  cursor: help;
}

.control-col {
  position: relative;
  min-width: 4em;
  margin-left: 10pt;
}
.control {
  display: none;  /* gets set to 'block' via JS */
  position: relative;
  margin-top: 0.4em;
  line-height: 1.5em;
  color: #999;
  transition: top 0.25s ease-in-out;
}
.control ul,
.control li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.control li:first-child a {
  border-radius: 0 8px 0 0;
}
.control li:last-child a {
  border-radius: 0 0 8px 0;
}
.control a {
  display: inline-block;
  margin: 1px 4px 0 0;
  width: 1.5em;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  background: #ddd;
}
.control a:hover {
  background: #7ac;
}
.control .page {
  font-size: 12pt;
  font-style: italic;
}

.interact {
  display: flex;
}
.interact iframe {
  width: 100%;
}
